
em,i{
    font-style: normal;
}
/*nav*/
h1 {
    font-family: Roboto;
    font-size: 40px;
}


.webCase_describe {
    font-family: Roboto;
}

#nav {
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #ffffff;
    z-index: 10000;
    position: fixed;
    background: transparent;
    left: 0;
    top: 0;
    padding-top: 20px;
    box-sizing: border-box;
    transition: .4s linear;
    -moz-transition: .4s linear;
    -o-transition: .4s linear;
    -webkit-transition: .4s linear;
    -ms-transition: .4s linear;
    z-index: 10000;
}
.resumeBtn{
    font-size: 16px;
    cursor: pointer;
    position: relative;
    left: 60%;
}
.navNewStyle {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    transition: .4s linear;
    -moz-transition: .4s linear;
    -o-transition: .4s linear;
    -webkit-transition: .4s linear;
    -ms-transition: .4s linear;
}

.navBtn {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-image: url("../images/navBtn.png");
}

.change_navBar {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    background-color: #fe2951;
    height: 2000px;
    padding: 0;
    transition: background .4s linear;
    -o-transition: background .4s linear;
    -moz-transition: background .4s linear;
    -webkit-transition: background .4s linear;
    -ms-transition: background .4s linear;
}

#nav .navBar li {
    width: 200px;
    text-indent: 30px;

}

#nav .navBar .nav_li a {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
}

.nav_li_bg {
    background: rgba(0, 0, 0, 0.1);
}

#nav .navBar .nav_li:hover {
    background: rgba(0, 0, 0, 0.1);

}

/*nav over*/

/*resume*/
.closeBtn{
    position: absolute;
    top: 3%;
    right: 3%;
}
.closeIcon{
  width: 30px;
    cursor: pointer;
}
#resume{
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
       position: fixed;
    top: -1200px;
    z-index: 20000;
    transition: .5s linear;
    -moz-transition: .5s linear;
    -ms-transition: .5s linear;
    -webkit-transition: .5s linear;
    -o-transition: .5s linear;
}
#resume .wrapper{
    height: 100%;
     width: 98%;
     margin: 0 auto;
    background: #f0efed;
 }
.topIntro{
       padding: 20px 0;
      font-size: 18px;
      text-align: center;
}
.contentIntro{
    width: 65%;
    margin: 0 auto;
}
.contentIntro p{
  line-height: 22px;
}
.p{
    height: 70px;
    width: 1px;
    background:gray ;
    margin-top: 8px;
    margin-left: 12px;

}
.di{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.add-mask-image{
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.inner{
    width: 40px;
    height: 40px;
    background: transparent;
    overflow: hidden;
    float: left;
}

.rightIntro{
    margin-left: 25px;
}
.inner span{
    display:block;
    width:100%;
    height:100%;
    background:#fff;
    transition:all .3s linear;}
.lt{
    transform-origin:right bottom;
    -o-transform-origin:right bottom;
    -moz-transform-origin:right bottom;
    -webkit-transform-origin:right bottom;
    -ms-transform-origin:right bottom;
}
.rt{
    transform-origin:left bottom;
    -o-transform-origin:left bottom;
    -moz-transform-origin:left bottom;
    -webkit-transform-origin:left bottom;
    -ms-transform-origin:left bottom;
}
.lb{
    transform-origin:right top;
    -o-transform-origin:right top;
    -moz-transform-origin:right top;
    -webkit-transform-origin:right top;
    -ms-transform-origin:right top;
}
.rb{
    transform-origin:left top;
    -o-transform-origin:left top;
    -moz-transform-origin:left top;
    -webkit-transform-origin:left top;
    -ms-transform-origin:left top;
}
.skillLogo{
    display: inline-block;
    width: 60px;
    height: 60px;
    background:#1cbbb4 ;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 10px;
  /*  border: 4px solid #cc1235;
    box-sizing: border-box;*/
}
em i{

}
.skills .row{
    margin-right: 0px;
    margin-left: 0px;
   padding-left: 0;
    padding-right: 0;

}
.selfIntro{
    width: 96%;
    margin: 0 auto;
}


.skillItems{
    position: relative;
    top: 0;
    text-align: center;
    cursor: pointer;
    transition: .3s linear;
    -moz-transition: .3s linear;
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    -ms-transition: .3s linear;
    margin-bottom: 15px;

}
.skillItems:hover{
    top: -15px;
}
.skillItemsName{
    font-weight: bolder;
    font-size: 16px;
    position: absolute;
    top: 24%;
    color: white;
    left: 36%;
}
.experience{
    margin-top: 15px;
    padding-left: 30px;
}
.experienceTitle{
    font-size: 18px;
}
.infoIntro{
    padding-left: 30px;
    margin-top: 10px;
}
.infoIntro p{
    line-height: 28px;
}
.experienceProgress{
    width: 80%;
    height: 32px;
   /* background:#1cbbb4 ;*/
    border: 1px solid #cccccc;
    border-radius: 6px;
    box-shadow:0 0 5px #ccc ;
    overflow: hidden;
}
.experienceProgressTime{
    width:0;
   line-height: 32px;
    background:#1cbbb4;
    text-align: center;
    color: white;
}
/*.leftIntro .rightIntro{
    text-align: center;
}*/
/*home*/

#home {
    background-color: #cc1235;
    overflow: hidden;
    padding-top: 80px;
    box-sizing: border-box;
    color: #ffffff;
    position: relative;
}

#home .selfInfo {
    margin-top: 16%;
}

#home .selfInfo p {
    font-size: 30px;
    white-space: nowrap;
    height: 45px;
    /* font-weight: 300;*/
}

.header {
    position: absolute;
    bottom: 0;
    left: 50%;

}

.title_p {
    margin-top: 20px;
    font-size: 16px;
}

/*services*/
#services {
    padding: 100px 0 150px 0;
    border-bottom: 1px solid #ddd;
}

#services .container {
    text-align: center;

}

#services .container .content {
    padding-top: 30px;
    box-sizing: border-box;
    /*  background: red;*/
  /*  padding: 0;*/
    text-align: center;
}

.fourPlate {
    margin-top: 30px;
}

.descriptionText{
    margin: 20px 0;
}

.descriptionText h3{
    font-size: 20px;
}

.descriptionText p {
    font-size: 14px;
    margin-top: 20px;
    height: 30px;
    color: #6d6d6d;
}

#services .container .content {
    box-sizing: border-box;
    padding: 0 5%;

}

/*web*/
#web {
    border-bottom: 1px solid #ddd;
}

#web .container {
    padding: 100px 0 60px 0;

}

#web .title {
    text-align: center;
}
.stw img{
    width: 250px !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}
.stw-li{
    list-style: disc !important;
    line-height: 24px;
    margin-left: 1.5rem;
    color: #6d6d6d;
}
.webCase_describe {
    font-size: 10px;
    display: inline-block;
    margin: 20px 5px;
    padding: 3px 6px;
    background: #1cbbb4;
    color: white;
    text-transform: uppercase;
    white-space: nowrap;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    border-radius: 2px;
}

.webCaseIntro {
    padding: 20px 0;
    box-sizing: border-box;
}

.webCaseIntro p {
    font-size: 14px;
    font-weight: normal;
    color: #6d6d6d;

}

#web .webCase img {
    width: 100%;
}

#app .webCase img {
    width: 80%;
}

.webCase {
    margin-top: 80px;
    box-sizing: border-box;
}

/*app*/

#app {
    border-bottom: 1px solid #ddd;
}

#app .container {
    padding: 100px 0 60px 0;

}

#app .title {
    text-align: center;
}

.appCase {
 /*background: green;*/
    /*position: relative;*/
}
.appCaseImg01{
    position: relative;
    left: 10px;
    z-index: 1;
}
.appCaseImg02{
    position: relative;
    left: -50px;
    z-index: 2;
}
/*about*/
#about {
    background: #1cbbb4;
    color: #ffffff;
    padding: 100px 0 60px 0;
}

#about .container {
    text-align: center;
}

#about .container p {
    font-size: 20px;
    margin-top: 15px;
    display: inline-block;
    padding-bottom: 6px;
    border-bottom: 1px solid #ffffff;

}
.xixi{
    border-radius: 50%;
    width: 220px;
    height: 220px;
   background:url("../images/xixi.jpg") no-repeat;
    background-size: 100%;
    margin: 30px auto;



}
.xixi img{
    width: auto;
    height:180px;
    border-radius: 50%;
    position: relative;
    top: -160px;
    transition:all 1s ease;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -ms-transition:all 1s ease;
    -webkit-transition:all 1s ease;
    cursor: pointer;
}
.xixi:hover img{
    transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);

}
.xixi:hover .shadow{
    box-shadow:0 0 0 0 rgba(255,255,255,0.5);
    -webkit-box-shadow:0 0 0 0 rgba(255,255,255,0.3);
   }
.shadow{
    width:180px;
    height:180px;
    border-radius:50%;
    position: relative;
    left: 20px;
    top: 20px;
    box-shadow:0 0 0 20px rgba(255,255,255,0.3);
    -webkit-box-shadow:0 0 0 20px rgba(255,255,255,0.3);
    transition:all .5s ease;
    -webkit-transition:all .5s ease;
    -moz-transition:all .5s ease;
    -ms-transition:all .5s ease;
    -webkit-transition:all .5s ease;}
.selfIntro h6{
   font-size: 16px;
    font-weight: normal;
    width: 80%;
    margin: 0 auto;
    line-height: 32px;
    text-indent: 2rem;

}
.selfIntro ul {
    margin-left: 10%;
}
/*contact*/

#contact {
    background: #cc1235;
    padding: 100px 0 60px 0;
    color: #ffffff;
    text-align: center;
    height: 600px;
}

#contact .content {
    width: 80%;
    margin: 0 auto;

}

#contact .content p {
    font-size: 20px;
    margin-top: 15px;
    display: inline-block;
    padding-bottom: 6px;
    border-bottom: 1px solid #1cbbb4;

}

#contact .content h6 {
    font-size: 16px;
    margin-top: 15px;

}

.title p {
    margin-top: 15px;
    font-size: 20px;
    display: inline-block;
    padding-bottom: 6px;
    border-bottom: 1px solid #1cbbb4
}

.email {
    display: inline-block;
    padding: 8px 30px;
    margin: 40px 0;
    color: white;
    font-family: Roboto;
    font-size: 25px;
    background: #1cbbb4;
    border-radius: 2px;
    transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    cursor: pointer;

}

.email:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);

}

#contact .content h6 {
    line-height: 28px;

}

.contactWay {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: relative;
    line-height: 80px;
    margin: 0 20px;

}
.code{
    width: 100px;
    position: absolute;
    opacity: 0;
    filter:alpha(opacity=0);
    transition: .4s linear;
    -o-transition: .4s linear;
    -webkit-transition: .4s linear;
    -moz-transition: .4s linear;
    -ms-transition: .4s linear;

}
.code01{
    left: -100px;
    top:80px;
}
.code02{
    top: 80px;
    left: 30px;
    padding: 12px 6px;
    background: #ffffff;
    box-sizing: border-box;
}

.contactWay:hover .code{
    opacity: 1;
    filter:alpha(opacity=100);


}
.contactWay_header {
    width: 70%;
    transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    -webkit-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
}

.contactWay:hover .contactWay_header {
   /* width: 100%;*/

}

.fast {
    -vendor-animation-duration: 1s;
    -vendor-animation-delay: 0s;
}

.slow {
    -vendor-animation-duration: 3s;
    -vendor-animation-delay: 1s;
}

.reallyslow {
    -vendor-animation-duration: 6s;
    -vendor-animation-delay: 3s;
}

@media (max-width: 767px) {
    .container {
        width: 90%;
    }

    #home .selfInfo p {
      /*  white-space: normal;*/
        text-align: center;
        font-size: 16px;
        height: 35px;
    }

    .servicesItem {
        margin-top: 90px;
    }
    .code01{
        left: -50px;
        top:80px;
    }
    .contentIntro{
        width: 100%;
        margin: 0 auto;
    }
    .skillItems{
        text-align: center;
        margin-bottom: 15px;
    }

    .contentIntro{
        font-size: 12px;
    }
    .webCaseIntro p{
        font-size: 12px;
        padding: 0 2%;
    }
    .webCaseIntro h3{
        padding: 0 2%;
    }
    .leftIntro{
        padding-left: 12%;
    }
    .selfIntro h6{
        font-size: 14px;
        width: 100%;
        line-height: 28px;

    }
    #contact .content h6 {
        font-size: 14px;

    }
    .email {

        font-size: 20px;}

}

@media (min-width: 768px) {
    .container {
        width: 90%;
    }

    #app .webCase img {
        width: 60%;
    }

    #web .webCase img {
        width: 90%;
    }

    .di{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
    }

    .inner{
        width: 50px;
        height: 50px;
    }


    .skillLogo{
        width: 80px;
        height: 80px;
        left: 10px;
        top: 10px;
        /*  border: 4px solid #cc1235;
          box-sizing: border-box;*/
    }
    .skillItemsName{
        font-size: 20px;
    }
    .experience{
        margin-top: 30px;
    }
    .resumeBtn{
        left: 42%;
    }
    .contentIntro{
        width: 96%;
        margin: 0 auto;
    }
    .leftIntro{
        padding-left: 22%;
    }
    .p{
        margin-left: 40px;
    }

}

@media (min-width: 992px) {
    .resumeBtn{
        position: static;
        left:0;
    }
    .container {
        width: 85%;
    }

    .header_img {
        height: 640px;
    }

    /*.oldStyle {
        background: transparent;

    }*/

    #nav .navBar {
        display: inline-block;
        height: 60px;
    }

    .change_navBar {
        text-align: right;
        position: static;
        top: 0;
        left: 0;
        width: 58%;
        background-color: transparent;
        height: 60px;

    }

    #nav .navBar li {
        float: left;
        width: auto;
        text-indent: 0;
    }

    #nav .navBar li a {
        display: inline-block;
        padding: 0 22px;
    }

    #home .selfInfo p {
        font-size: 36px;
        height: 50px;
    }



    #app .webCaseIntro {
        padding: 0 0 0 120px;
        box-sizing: border-box;
    }

    #web .webCaseIntro {
        padding: 0 0 0 60px;
        box-sizing: border-box;
    }

    #web .container {
        padding: 100px 0 120px 0;
    }

    #app .container {
        padding: 100px 0 120px 0;
    }

    .webCase {
        margin-top: 100px;
        box-sizing: border-box;
    }

    .descriptionText p {
        font-size: 15px;
        height: 35px;
    }

    .webCaseIntro p {
        font-size: 14px;

    }

    #app .webCase img {
        width: 100%;
    }

    #web .webCase img {
        width: 100%;
    }

    #contact .content h6 {
        line-height: 20px;

    }
    #resume .wrapper{
        width: 75%;
        max-width: 700px;

    }

}

@media (min-width: 1200px ) {
    .container {
        width: 85%;
        max-width: 1280px;
    }

    #services .container .content {
        box-sizing: border-box;
        padding: 30px 50px 0;

    }

    .webCase {
        padding: 0px 50px;
    }
    #resume .wrapper{
        width: 55%;
        max-width: 700px;

    }
}