@charset "utf-8";
/* CSS Document */
body,div,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,table,img,dl,dl,dt,dd,input,td{
	margin:0;
	padding:0;
	outline:none;}
@font-face {
	src: url(../fonts/simhei.ttf);
	font-family: SimHei;
}
@font-face {
	src: url(../fonts/Roboto-Regular.ttf);
	font-family: Roboto;
}
body{
	font: 14px/1.5 "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
	color:#333;}
li{
	list-style:none;
}
img{
	border:none;}
input{
	border:none;}
a{
	text-decoration:none;}
a:hover{
	outline: 0;
	text-decoration: none;
}
.fl{
	float:left;}
.fr{
	float:right;}
	
.clearfix:after{
	content:'';
	display:block;
	clear:both;}
.clearfix{
	zoom:1;}